@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root{
    --color-main: #4b33a8;
    --color-main-ligh: #5b46bb;
    --color-white: #ececec;
    --color-gray: #e2e2e2;
    --color-red: #961818;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--color-main);
}

aside{
    padding: 2rem;
    color: var(--color-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.3rem;
}

.text-footer{
    color: var(--color-main-light);
    font-size: .85rem;
}

main{
    background-color: var(--color-white);            
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
}

